In [7]:
# ------------------------- [필요한 라이브러리 임포트] -------------------------
import pandas as pd

# ------------------------- [1. CSV 파일 불러오기] -------------------------
# 'train.csv' 파일을 pandas 데이터프레임으로 읽어옵니다.
# 파일이 노트북과 같은 폴더에 있으므로 파일 이름만으로도 불러올 수 있습니다.
df_train = pd.read_csv('titanic_train.csv')
df_test = pd.read_csv('titanic_test.csv')

# ------------------------- [2. 데이터 확인하기] -------------------------
# 데이터프레임의 상위 5개 행을 출력하여 데이터가 잘 로드되었는지 확인합니다.
# print("--- 데이터의 상위 5개 행 ---")
# print(df_train.head())
# print("--- 데이터의 상위 5개 행 ---")
# print(df_test.head())

# 데이터프레임의 전체 정보(컬럼, 데이터 타입, 결측치 등)를 확인합니다.
print("\n--- 데이터프레임 정보 ---")
df_train.info()
print("\n--- 데이터프레임 정보 ---")
df_test.info()

--- 데이터프레임 정보 ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

--- 데이터프레임 정보 ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB